{% extends "base.html" %}


{% block title %}Dashboard{% endblock %}

{% block header %}
<header id="TrailBlaze__Header" class="bg-dark d-flex align-items-center justify-content-between py-2 px-3 mb-3">
    <a href="/user/dashboard" class="fs-2 fw-bold text-decoration-none text-white">TrailBlaze</a>
    <div id="User_Nav__Controls" class="d-flex justify-content-between align-items-center gap-3">
        <a href="/user/dashboard" class="mb-0 text-white fw-bold text-decoration-none">Dashboard</a>
        <a href="/maps" class="mb-0 text-secondary fw-medium text-decoration-none">Maps</a>
        <a href="#" class="mb-0 text-secondary fw-medium text-decoration-none">Profile</a>
        <a href="/logout" class="btn btn-light px-3 fw-semibold">Logout</a>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="container-fluid flex-grow-1">
        <div id="FlexDiv__Dashboard">
            <h2 class="text-white text-center fw-bold mb-3">Dashboard</h2>
            <div class="col-11 col-md-10 mx-auto bg-white rounded-2 p-5 pt-4">
                <div class="text-center mb-4">
                    <a href="/user/create_post" class="mb-0 fw-medium btn btn-success">Create Post</a>
                </div>
                {% for post in posts %}
                <div id="PostContent__TableFmt" class="border border-2 my-2">
                    <table class="table table-hover table-borderless mb-0">
                        <tr class="row d-flex px-3">
                            <div class="col">
                                <!-- PFP - Username - Timestamp - Marker -->
                                <td id="Flex__UserInfo_Marker" class="d-flex justify-content-between align-items-center gap-3">
                                    <div class="d-flex justify-content-start align-items-center gap-3">
                                        <img src="../static/imgs/abstract-user-flat.png" alt="user-pfp" style="height: 50px">
                                        <p class="mb-0">
                                            <!-- ! Access poster's username and pfp, users should have default pfp if they've not uploaded one yet -->
                                            <span class="fw-semibold">@{{ post.user_id }}</span>
                                            <span class="text-secondary fst-italic">• {{ post.created_at.strftime('%d %b %Y %I:%M%p') }}</span>
                                        </p>
                                    </div>
                                    <a href="#">
                                        <img src="../static/imgs/map-marker.png" alt="marker" style="height: 50px;">
                                    </a>
                                </td>
                                <!-- Post Title & Content -->
                                <td class="col">
                                    <h5>{{ post.title }}</h5>
                                    <div class="col d-lg-flex justify-content-lg-between gap-lg-3">
                                        
                                        
                                        {% if post.image %}
                                        <img src="../static/post_imgs/{{post.image}}" alt="img-placeholder" class="col-11 col-md-4 order-1 order-md-2" style="height: 100px;"> 
                                        
                                        {% else %}
                                        <img src="../static/imgs/abstract-user-flat.png" alt="img-placeholder" class="img-fluid mx-auto d-flex align-self-center col-12 col-lg-4 order-1 order-lg-2" style="max-width: 150px; max-height: 150px;">
                                        
                                        {% endif %}
                                        
                                        <!-- ! conditional jinja needed to confirm if an img upload exists (may need adjusting)
                                        {% if image_exists %}
                                            <img src="../static/imgs/abstract-user-flat.png" alt="img-placeholder" class="col-11 col-md-4 order-1 order-md-2" style="height: 100px;"> 
                                        {% endif %}
                                        ! otherwise, use this style, instead of the bottom <p>:
                                        <p class="col-12 {% if not image_exists %}col-md-12{% endif %} order-2 order-md-1 text-start mb-md-0">{{ post.text_content }}</p>
                                        -->
                                        
                                        <p class="col-12 col-lg-8 order-2 order-lg-1 text-start mb-lg-0">{{ post.text_content }}</p>
                                    </div>
                                </td>
                                <!-- Linked Actions -->
                                <td class="d-flex justify-content-sm-end justify-content-center gap-2 pb-3">
                                    {% if session.user_id == post.user_id %}
                                    <a href="/post/edit/{{post.id}}" class="text-decoration-none fw-bold text-dark d-flex align-items-center gap-1">
                                        <img src="../static/imgs/post-icon.png" alt="post-icon" style="height: 25px;">
                                        <span>EDIT</span>
                                    </a>
                                    {% endif %}
                                    
                                    {% if post.liked_by_user %}
                                    <form action="/unlike/{{ post.id }}" method="post" class="like-form d-flex align-items-center gap-1">
                                        <button type="submit" class="btn btn-link text-decoration-none fw-bold text-dark p-0">
                                            <img src="../static/imgs/closed-heart-icon.png" alt="liked-heart" style="height: 15px;">
                                            {{ post.like_count }}
                                        </button>
                                    </form>
                                    {% else %}
                                    <form action="/like/{{ post.id }}" method="post" class="like-form d-flex align-items-center gap-1">
                                        <button type="submit" class="btn btn-link text-decoration-none fw-bold text-dark p-0">
                                            <img src="../static/imgs/open-heart-icon.png" alt="unliked-heart" style="height: 15px;">
                                            {{ post.like_count }}
                                        </button>
                                    </form>
                                    {% endif %}
                                    
                                    <a href="/post/{{ post.id }}/comments" class="text-decoration-none fw-bold text-dark">
                                        <img src="../static/imgs/speech-bubble.png" alt="comment-bubble" style="height: 25px;">
                                        <span>COMMENT</span>
                                    </a>
                                    
                                    {% if session.user_id == post.user_id %}
                                    <form action="/post/delete/{{ post.id }}" method="post" class="d-inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="text-decoration-none fw-bold text-danger me-sm-3" 
                                                onclick="return confirm('Are you sure you want to delete this post?')">
                                            × DELETE
                                        </button>
                                    </form>
                                    {% endif %}
                                    
                                </td>
                            </div>
                            
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}