{% extends "base.html" %}

{% block title %}TrailBlaze{% endblock %}

{% block content %}
    <div class="container-fluid flex-grow-1">
        <div id="Index__Page" class="row d-flex justify-content-center gap-5">
            <div id="Flex_Left__User_Auth" class="col-8 col-lg-5 p-3 mb-3 mt-md-5 bg-white rounded-2 text-center">
                <p class="text-secondary fw-semibold mb-1">New here?</p>
                <h3 class="fw-bold mb-4">Register</h3>
                <!--  -->
                <form action="">
                    <!-- Email Input -->
                    <div id="Email_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <!-- Username Input -->
                    <div id="Username_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                    </div>
                    <!-- Password Input -->
                    <div id="Password_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div id="Email_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="password" name="confirm" placeholder="Confirm Password" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <input type="submit" value="Register" class="mt-4 btn btn-dark px-3 fw-bold">
                    </div>
                </form>
            </div>
            <!--  -->
            <div id="Image__Placeholder" class="col-8 col-lg-5 mb-3 mt-md-5">
                <h3 class="fw-bold text-white">This is an Image Placeholder</h3>
                <h3 class="fw-bold text-white">Create and Share Your Maps Here!</h3>
            </div>
        </div>
    </div>
{% endblock %}
