{% extends "base.html" %}


{% block title %}TrailBlaze{% endblock %}

{% block maps_header %}
<header id="TrailBlaze__Header" class="bg-dark d-flex align-items-center justify-content-between py-2 px-3 mb-3">
    <a href="/user/dashboard" class="fs-2 fw-bold text-decoration-none text-white">TrailBlaze</a>
    <a href="#" class="btn btn-secondary px-3 fw-semibold">Disabled</a>
</header>
{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1">
    <div id="FlexDiv__Dashboard" class="col-10 mx-auto">
        <h1>welcome</h1>
        <button type="button">login</button>
        <button type="button">register</button>
    </div>
</div>


{% endblock %}
```