<div id="Form__Container" class="col-11 mx-auto text-center">
    <div id="Login_Form_" class="p-3 mb-3 bg-white rounded-2">
        <p class="text-secondary fw-semibold mb-1">Already a Trailblazer?</p>
        <h3 class="fw-bold mb-4">Login</h3>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'category5' %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/login/user" method = 'post'>
            <!-- Email/Username Input -->
            <div id="User_Input__Flex_Div" class="form-group row px-3 mb-3">
                <div class="col">
                    {% if submission %}
                    <input type="text" name="sorting" placeholder="Enter email or username" class="form-control" value="{{submission['sorting']}}">
                    {% else %}
                    <input type="text" name="sorting" placeholder="Enter email or username" class="form-control">
                    {% endif %}
                </div>
            </div>
            <!-- Password Input -->
            <div id="Password_Input__Flex_Div" class="form-group row px-3 mb-3">
                <div class="col">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
            </div>
            <div class="col">
                <input type="submit" value="Login" class="mt-4 btn btn-lg btn-dark px-3 fw-bold">
            </div>
        </form>
    </div>
</div>