{% extends "base.html" %}


{% block title %}Log In | TrailBlaze{% endblock %}

{% block content %}
    <div class="container-fluid flex-grow-1">
        <div id="Login__Page" class="row d-flex justify-content-center gap-5">
            <div id="Flex_Left__User_Auth" class="col-8 col-lg-5 p-3 mb-3 mt-md-5 bg-white rounded-2 text-center">
                <p class="text-secondary fw-semibold mb-1">Welcome back!</p>
                <h3 class="fw-bold mb-4">Login</h3>
                <!--  -->
                <form action="">
                    <!-- Email/Username Input -->
                    <div id="Email_Username_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="text" name="" placeholder="Email/Username" class="form-control">
                        </div>
                    </div>
                    <!-- Password Input -->
                    <div id="Password_Input__Flex_Div" class="form-group row px-3 mb-3">
                        <div class="col">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <input type="submit" value="Login" class="mt-4 btn btn-dark px-3 fw-bold">
                    </div>
                </form>
            </div>
            <!--  -->
        </div>
    </div>
{% endblock %}