{% extends "base.html" %}


{% block title %}Maps{% endblock %}

{% block header %}
  <header id="TrailBlaze__Header" class="bg-dark d-flex align-items-center justify-content-between py-2 px-3 mb-3">
    <a href="/user/dashboard" class="fs-2 fw-bold text-decoration-none text-white">TrailBlaze</a>
    <div id="User_Nav__Controls" class="d-flex justify-content-between align-items-center gap-3">
      <a href="/user/dashboard" class="mb-0 text-secondary fw-medium text-decoration-none">Dashboard</a>
      <a href="/maps" class="mb-0 text-white fw-bold text-decoration-none">Maps</a>
      <a href="#" class="mb-0 text-secondary fw-medium text-decoration-none">Profile</a>
      <a href="/logout" class="btn btn-light px-3 fw-semibold">Logout</a>
    </div>
  </header>
{% endblock %}


{% block content %}
  <style>
  #position_btn {
    margin-top: 5.5rem;
  }
  </style>
  
  
  <div class="container-fluid flex-grow-1">
    <h2 class="text-white text-center fw-bold mb-3">Maps</h2>
    
    <div class="position-relative">
      <div id="Center_Map" class="d-flex justify-content-center">
        <div id="map" style="height: 500px;" class="col-10"></div>
      </div>
      
      <!-- Changes Needed: Btns are to be centered when screen size < md -->
      <div id="buttons__array" class="position-absolute top-50 start-50 translate-middle bg-dark bg-opacity-25 col-5">
        <div class="w-100" style="height: 15rem;">
          {% with messages = get_flashed_messages(with_categories = true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'invalidMapAuthor' %}
                                    <p class="alert alert-danger">{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
          <div id="Add_and_Existing_Btns" class="d-md-flex justify-content-around align-items-center">
            
            <a href="/newmap"><input type="button" id="position_btn" class="btn btn-secondary fw-semibold" value="New Map" ></a>
            
            <div class="dropdown" id="position_btn">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fw-semibold">Existing Maps</span>
              </a>
              
              <ul class="dropdown-menu">
                {% if existing_maps == [] %}
                  <li><a class="dropdown-item" href="#">No Existing Maps</a></li>
                {% endif %}
                {% for map in existing_maps %}
                  <li><a class="dropdown-item" href="/maps/{{session.username}}/{{map.id}}">{{map.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
            
          </div>
          
        </div>
      </div>
      
    </div>
    
  </div>
  </div>
  
  <script>
  var userlong = {{data.lng}}
  var userlat = {{data.lat}}
  </script>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/maps.js')}}"></script>
{% endblock %}

