{% extends "base.html" %}


{% block title %}New Post{% endblock %}

{% block header %}
<header id="TrailBlaze__Header" class="bg-dark d-flex align-items-center justify-content-between py-2 px-3 mb-3">
    <a href="/user/dashboard" class="fs-2 fw-bold text-decoration-none text-white">TrailBlaze</a>
    <div id="User_Nav__Controls" class="d-flex justify-content-between align-items-center gap-3">
        <a href="/user/dashboard" class="mb-0 text-secondary fw-medium text-decoration-none">Dashboard</a>
        <a href="/maps" class="mb-0 text-secondary fw-medium text-decoration-none">Maps</a>
        <a href="#" class="mb-0 text-secondary fw-medium text-decoration-none">Profile</a>
        <a href="/logout" class="btn btn-light px-3 fw-semibold">Logout</a>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1">
    <div id="Create_Post__Page" class="row d-flex justify-content-center">
        <h2 class="text-white text-center fw-bold mb-3">Create a New Post</h2>
        <div id="Form_Page" class="col-11 col-md-8 mx-auto bg-white rounded-2 p-5 pt-4 text-center">
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-danger">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <form action="/user/submit_post" method="post">
                <!-- Post Title Input -->
                <div id="PostTitle__Flex_Div" class="form-group row px-3 mb-3">
                    <label for="title" class="form-label fw-semibold">Post Title:</label>
                    <div class="col">
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                </div>
                <!-- Post Content Input -->
                <div id="PostContent_Input__Flex_Div" class="form-group row px-3 mb-3">
                    <label for="content" class="form-label fw-semibold">Post Content:</label>
                    <div class="col">
                        <textarea class="form-control" id="content" name="text_content" rows="5"></textarea>
                    </div>
                </div>
                <!-- File Upload Input -->
                <div id="FileUpload_Input__Flex_Div" class="form-group row px-3 mb-3">
                    <label for="content" class="form-label fw-semibold">Upload Image <span class="fw-normal">(Optional)</span>:</label>
                    <div class="col">
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                </div>
                <div class="col">
                    <input type="submit" value="Post" class="mt-4 btn btn-dark px-3 fw-bold">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}