bcrypt==4.0.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Flask==2.3.2
Flask-Bcrypt==1.0.1
flask-googlemaps==0.4.1
ghp-import==2.1.0
googlemaps==4.10.0
htmlmin==0.1.12
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
Markdown==3.4.4
MarkupSafe==2.1.3
mergedeep==1.3.4
mkdocs==1.5.2
mkdocs-material==5.5.14
mkdocs-material-extensions==1.1.1
mkdocs-minify-plugin==0.3.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
Pygments==2.16.1
pymdown-extensions==10.1
PyMySQL==1.1.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyyaml_env_tag==0.1
requests==2.31.0
six==1.16.0
urllib3==2.0.4
watchdog==3.0.0
Werkzeug==2.3.7
